*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
#headerPart{
    padding: 35px 0;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.headerFlex{
    display: flex;
    justify-content: space-between;
}
.menu ul li{
    display: inline-block;
}
.menu{
    padding-top: 12px;
}
.menu ul li a{
    padding: 0 38px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #000000;
}
.icon{
    padding-top: 12px;
}
.icon i{
    padding: 0 23px;
}
#bannerPart{
    background: url(../images/scandinavian-interior-mockup-wall-decal-background\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 155px;
    padding-bottom: 125px;
}
.bannerFlex{
    display: flex;
}
.bannerLeft{
    width: 50%;
}
.bannerRight{
    width: 50%;
    padding: 67px 45px;
    background: #FFF3E3;
    border-radius: 10px
}
.bannerRight h4
{    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #333333;
    font-weight: 600;
}
.bannerRight h1
{   padding-right: 20px;
    font-size: 52px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #B88E2F;
    line-height: 65px;
    padding-right: 146px;
    padding-top: 15px;
    padding-bottom: 30px;
}
.bannerRight p
{   font-weight: 500;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #333333;
    line-height: 24px;
    padding-right: 89px;
    padding-bottom: 20px;
}
.bannerRight a
{   font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    background:  #B88E2F;
    padding: 30px 70px;
}
#browsePart{
    padding-top: 70px;
    padding-bottom: 60px;
}
.browseText{
    text-align: center;
}
.browseText h3{
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    color: #333333;
    font-weight: 700;
}
.browseText p{
    padding-top: 10px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #666666;
}
.browseItem{
    width: 32%;
}
.browseItemPart{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.browseItem img{
width: 100%;
}
.browseItem h3{
    text-align: center;
    color: #333333;
    font-weight: 600;
    font-size: 24px;
    padding-top: 20px;
}
#productPart{
    padding-top: 70px;
    padding-bottom: 60px;
}
.productText{
    font-size: 40px;
    font-weight: 700;
    color: #3A3A3A;
    text-align: center;
}
.productItemsPart{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;   
}
.productItem{
    width: 23%;
    position: relative;
}
.productItem img{
    width: 100%;
    display: block;
}
.productItemText{
    background: #F4F5F7;
    padding: 20px 15px;
}
.productItemText h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}
.productItemText p{
    font-size: 18px;
    font-weight: 500;
    color: #898989;
    padding-top: 10px;
    line-height: 150%;
}
.productItemText h4{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}
.productItemText span{
    font-size: 16px;
    font-weight: 100;
    color: #B0B0B0;
    line-height: 150%;
    padding-left: 20px;
}

.productBadge{
    width: 50px;
    height: 50px;
    background: #E97171;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #FFFFFF;
}
.productBadge span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.productOverlay{
    height: 100%;
    width: 100%;
    background: #0000007a;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}
.productOverlay a{
    padding: 18px 30px;
    background: #FFFFFF;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    font-weight: 600;
    color: #B88E2F;
    padding-bottom: 10px;
}
.productIcons{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
}
.productIcons i{
    padding-right: 10px;
}
.productIcons span{
    padding: 7px;
}
.productBadge4{
    width: 50px;
    height: 50px;
    background: #2EC1AC;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #FFFFFF;
    transition: 0.4s;
    visibility: visible;
    opacity: 1;
}
.productBadge4 span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.productBadge3 span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.productBadge3{
    width: 50px;
    height: 50px;
    background: #E97171;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #FFFFFF;
    transition: 0.4s;
    visibility: visible;
    opacity: 1;
}
#productPart2{
    padding-top: 0px;
    padding-bottom: 60px;
}
.productItem:hover .productOverlay{
    visibility: visible;
    opacity: 1;
}
.productItem:hover .productBadge3 {
    visibility: hidden;
    opacity: 0;
} 
.productItem:hover .productBadge4 {
    visibility: hidden;
    opacity: 0;
} 
#inspirationPart{
    padding: 100px 0;
    background: #FCF8F3;
}
.inspirationPartItem{
    width: 32%;
}
.inspirationPartFlex{
    justify-content: space-between;
    display: flex;
}
.inspirationPartItem h2{
    font-size: 40px;
    font-weight: 700;
    padding-right: 0px;
    padding-top: 144px;
    padding-bottom: 30px;
}
.inspirationPartItem p{
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}
.inspirationPartItem a
{   font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    background:  #B88E2F;
    padding: 13px 27px;
}
.inspirationPartItemText{
    width: 217px;
    height: 130px;
    background: #FFFFFF;
    opacity: 72%;
    top: 50%;
    left: 50%;
    transform: translate(8%,-137%);
}


.inspirationPartItemText p{
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    color: #616161;
    padding-left: 20px;
}
.inspirationPartItemText h3{
    font-size: 28px;
    font-weight:600;
    line-height: 120%;
    padding-left: 20px;
}
.inspirationItemImg{
    position: relative;
}
.box{
    display: flex;
    width: 48px;
    height: 48px;
    background: #B88E2F;
    color:#FFFFFF;
    position: relative;
    left: 235px;
    bottom: 227px;
}
.box i{
padding-left: 30%;
padding-top: 30%;
font-size: 24px;
}
.dot{
    height: 27px;
    width: 27px;
    border: 1px solid #B88E2F;
    border-radius: 50%;
    margin-top: 30px;
    background: #FFFFFF;
    position: relative;

}
.dot1{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background: #B88E2F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
